header{
    padding:10px;
    text-align: center;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
header ul li a{
    padding:10px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}